/* Base rules are the defaults. They are almost exclusively single element selectors 
but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors.
*/
@import 'config';
body {
    background: #151129;
}

figure {
    text-align: center;
    float:left;
}
figcaption {
    font-variant: small-caps;
    font-weight: bold;
}

p {
    text-indent: 0px;
    text-align: justify;
}
// h1{
//     display: none;
// }