.logo {
    height: 360px;
}

.top {
    &-bar {
        font-size: 16px;
        display: flex;
        height: 60px;
        align-items: center;

        .toggle-menu {
            top: initial;

            @media (max-width:992px) {
                display: block !important;
            }
        }

        &--menu {
            display: flex;
            align-items: center;

            @media (max-width:992px) {
                order: 1;
                margin-left: auto;
                margin-right: 20px;
            }

            .toggle-menu {
                position: initial;
                right: initial;
            }
        }

        &--user {
            .top-button {
                margin-top: 0 !important;
            }

            #menu-search {
                @media (max-width:992px) {
                    display: none;
                }

                input {
                    @media (max-width:1200px) {
                        width: 150px;
                    }
                }
            }

            display: flex;
            align-items: center;

            .main-search {
                margin: 0px 0px 0px 10px !important;
            }

            .mobile-visible {
                display: initial !important;
            }

            margin-left: auto;

            @media (max-width:992px) {
                margin-left: initial;
                flex-direction: row-reverse;
            }

            .przycisk {
                order: 0;
                bottom: initial;
            }

            button[type="submit"] {
                width: 38px;
                height: 38px !important;
                border-radius: 0.375rem;
                border: 2px solid $color-brand !important;
                color: $color-brand !important;
                background-color: transparent !important;
                padding: 0 !important;
                margin: 0 !important;
                transition-duration: .2s;

                &:hover {
                    background-color: $color-brand-shade-dark !important;
                    color: white !important;

                    box-shadow: 0px 1px 2px $color-brand-shade-dark;
                }
            }

            fieldset {
                display: flex;
                align-items: center;
            }

            .search-toggle {
                height: initial;
                overflow: initial;

                @media (max-width:992px) {
                    display: inline-block;
                }
            }
        }

        &--nav-user {
            top: 36px;
            border-radius: .375rem;

            @media (max-width:992px) {
                right: initial;
                left: 0;
            }
        }
    }

    &-button {
        background-color: transparent !important;
        border-top: 0px !important;
        border-bottom: 0px !important;
        margin-top: initial;
    }
}

.nav {

    &-list {
        display: flex;
        margin: 0 !important;
        align-items: center;
        flex-wrap: wrap;

        a {
            font-size: 16px;
            text-transform: initial;
        }
    }

    &-main {
        @media (max-width:992px) {
            display: none;
        }

        &-sub {
            height: initial !important;
            padding: 5px 4px 5px 4px !important;

            a {
                font-size: 14px !important;
            }
        }

    }
}

.top-bar--user .main-search {
    .twitter-typeahead {
        margin-right: 0.5rem;
        top: initial !important;

        .typeahead {
            border-radius: 0.375rem;
            height: 38px !important;
            border: 1px solid #495057 !important;
            background-color: #212529 !important;
        }
    }
}

#lm,
#la,
#admin-notify {
    top: 60px;
}

.ep-date {
    width: 95px !important;
}

.l {
    &-footer {
        background: none;

        .row {
            .col6 {
                width: 100%;

                .section-title {
                    display: none;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 10px;
                    padding: 0 40px;
                    list-style: none;
                    flex-wrap: wrap;

                    li {
                        color: #adb5bdbf;
                    }
                }
            }

            .push6 {
                display: none;
            }
        }
    }

    &-container-primary {
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

    &-main-contantainer {
        overflow: initial;
    }
}

// .footer a {
//     color: #adb5bdbf;
// }

.data-view-table-big {
    font-size: 14px;
}

.user-navigation {
    li {
        font-weight: initial;
    }

    li.active {
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }
}

.button-group span.mobile-small-hidden {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    padding: 0.3em 0.6em 0.375em;
    border: 2px solid $color-brand !important;
    background-color: $color-background-clear !important;
    margin: 0.1rem 0.125rem;
    color: $color-brand !important;
    box-shadow: 0px 1px 4px $color-brand-shade-dark;
    border-radius: 0.375rem;
    position: relative;
    font: normal normal normal 14px/1 FontAwesome;
    cursor: pointer;

    &:hover {
        background-color: $color-brand-shade-dark !important;
        color: white !important;

        box-shadow: 0px 1px 2px $color-brand-shade-dark;
    }

    :nth-child(1) {
        --nth-child: 0
    }

    :nth-child(2) {
        --nth-child: 1
    }

    :nth-child(3) {
        --nth-child: 2
    }

    :nth-child(4) {
        --nth-child: 3
    }

    .button {
        display: none;
        position: absolute;
        left: 104%;
        z-index: 10;
        margin: 0 !important;
        top: calc(116% * var(--nth-child) - 2px);

        @media (max-width:1650px) {
            left: initial;
            right: 104%;
        }

        &.add::after {
            content: " Dodaj video";
        }

        &.edit::after {
            content: " Edytuj";
        }

        &.report::after {
            content: " Raportuj";
        }

        &.add-title::after {
            content: " Dodaj tytuł epizodu";
        }
    }

    &:hover a {
        display: block;
    }

    &::before {
        content: "\f0c9";
        width: 18px;
        height: 17px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.button-group {
    display: flex;
    align-items: center;
}

.box.episode-list {
    overflow: initial;
    display: inline-block;
    padding: 0;
    width: 100%;
}

.tipsy {
    z-index: 5 !important;
}

.parent-page {

    &-anime-episodes,
    &-anime-all-episodes,
    &-episode-view {
        width: 100%;
        display: flex;

        .info-aside {
            flex: 1 0 auto;
            box-sizing: border-box;


        }

        .page-anime-episodes {
            flex: 1 1 auto;
            box-sizing: border-box;
        }

        @media (max-width:600px) {
            flex-wrap: wrap;
        }
    }
}

.episode-player-list {
    flex: 1 1 auto;
    box-sizing: border-box;
}

.parent-page-anime-episodes,
.parent-page-anime-all-episodes,
.parent-page-episode-view {
    width: 100%;
    display: flex;

    .info-aside {
        flex: 1 0 auto;
        box-sizing: border-box;
    }

    .page-anime-episodes,
    .episode-player-list {
        flex: 1 1 auto;
        box-sizing: border-box;
    }

    @media (max-width:600px) {
        flex-wrap: wrap;
    }
}

.box.takie-tam div {
    width: 100% !important;
}

.add-to-list-modal .modal-body .data-view-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0 !important;
    align-items: center;
    padding: 0;

    >.dbl {
        display: none;
    }

    >.dbl~.dbl {
        display: initial;
        min-width: initial;
    }

    li {
        width: 25%;
    }

    .full {
        width: 100%;
    }
}

.add-to-list-modal .modal {
    &-layer {
        background-color: rgba(0, 0, 0, 0.75) !important;
    }

    &-body {
        height: 250px !important;
        border-radius: 0.375rem !important;
    }
}

.title-cover {
    overflow: initial !important;

    .info-aside-img {
        padding: 0;
    }
}

.title-full-description {
    margin-top: 0;
    margin-bottom: 1.2em;
}

.title-other {
    padding-bottom: 10px;
}

.info-aside-overall-rating {
    margin: 15px 0;
}

.fancy-bar {
    display: none;
}


.figure-list {
    li {
        cursor: pointer;
        width: initial;
        //margin-bottom: initial;
        margin-right: 20px;
        border: 2px solid $color-brand-shade-dark;
        border-radius: 0.375rem;

        &:hover {

            figure figcaption,
            .t2t-delete {
                visibility: initial;
                opacity: 1;
            }

            figure img {
                filter: brightness(.2);
            }
        }

        .t2t-delete {
            transition-duration: .15s;
            opacity: 0;
            visibility: hidden;
            padding: initial;
            top: 0;
            bottom: initial;
            z-index: 3;
            right: 2px;
            font-size: 18px;
        }

        figure {
            width: 120px;

            figcaption {
                transition-duration: .15s;
                opacity: 0;
                visibility: hidden;
                padding: 0;
                border: 0;
                position: absolute;
                z-index: 1;
                width: 100%;
                top: 2px;

                &:first-of-type {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    height: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        height: 100%;
                    }
                }

                &:last-of-type {
                    top: initial;
                    bottom: 0px;
                    position: absolute;
                    display: block;
                }
            }

            img {
                transition-duration: .2s;
                border-radius: 0.375rem;
                width: 100%;
                height: initial;
                aspect-ratio: 3/5;
            }
        }
    }
}

.title-rel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .col-sm-6 {
        max-width: 50%;
        width: auto;

        .rel-item {
            border: 2px solid $color-brand;
            padding: 5px;
            border-radius: 0.375rem;
            box-sizing: border-box;
        }
    }

    // &> :last-child:not(:empty) {
    //     margin-left: auto;
    //     margin-right: auto;
    // }

    .col-xs-12 {
        @media (max-width:765px) {
            max-width: 100%;
            width: 100%;
        }
    }

    .col-xs-none {
        display: none;
    }

    .box-title {
        width: 100%;
    }
}

.genre-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;

    li {
        width: initial !important;
        padding: 0;
        margin: 0;
    }

    .dbl-w {
        width: initial !important;
        //width: 15% !important;
    }
}

.letter-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0 !important;

    li {
        padding-top: 10px !important;
    }
}

#login_form_background,
.modal-layer {
    background-color: rgba(0, 0, 0, 0.75) !important;
    opacity: 1 !important;
}

.form-login {
    border: 0;
    max-width: 320px;
    width: 100%;
    border-radius: .375rem;
    display: inline-flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

.form-login h4 {
    width: 100%;
}

.form-login label {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    align-items: center;
    gap: 10px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    margin-left: 12px;
    border-radius: 0.375rem;
    width: 100%;
    max-width: 170px;
    height: 34px;
    background-color: #212529;
    box-shadow: none !important;
    padding: .3em .4em;
    font-size: 16px;
    border: 1px solid #495057;
    color: #ccc;
}

.form-login label:nth-child(4) {
    margin-bottom: 15px;
}

.form-login #fb-login-link{
    margin-right: 10px;
}

.form-login #fb-login-link i img {
    filter: invert(46%) sepia(48%) saturate(2358%) hue-rotate(237deg) brightness(101%) contrast(95%);
}

.form-login #fb-login-link:hover i img {
    filter: invert(87%) sepia(100%) saturate(2%) hue-rotate(247deg) brightness(106%) contrast(101%);
}

.form-login-list {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    width: 100%;
}

.creator-form,
.horizontal-form {
    .navigation {
        border-top: 0;
        background: initial;
    }
}

.aside-user {
    width: 210px !important;

    @media (max-width:600px) {
        width: 100% !important;
    }

    .info-aside-img {
        background: 0;
    }

    .interactions {
        li a {
            letter-spacing: 1px;
            display: flex !important;
            justify-content: center;
            padding: 0.3em 0.6em 0.375em;
            border: 2px solid $color-brand !important;
            border-radius: 0.375rem !important;
            margin: 0.1rem 0.125rem !important;
            font: 14px/normal "lucida grande", tahoma, verdana, arial, sans-serif;
            color: $color-brand !important;
            background-color: $color-background-clear !important;
            box-shadow: 0px 1px 4px $color-brand-shade-dark;
            transition-duration: .1s;

            &:hover {
                background-color: $color-brand-shade-dark !important;
                color: white !important;

                box-shadow: 0px 1px 2px $color-brand-shade-dark;
            }
        }
    }
}

.profile {
    .anime-stats {
        @media (max-width:850px) {
            width: 100%;
            float: left;
            margin-right: 0;
        }
    }
}
.col3{
    float: initial;
}