.seasons-list a {
  display: block;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 8px;
}

.seasons-list a:hover {
  background: #868986;
  text-decoration: none;
}

.newTitle.newTitle-blue span {
  //background: $kwiatek-color;
}

.carousel-slides li {
  float: left;
  position: relative;
  height: 322px;
  max-width: 1000px;
  //background: #240b36 !important;
}

.box .box-title {
  border-bottom: 1px solid #383838;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  letter-spacing: 1px;
  margin: 10px 0 3px 0;
  //text-align: center;
  //background: #270932 !important;
}

.l-main-contantainer {
  //background: #17021e !important;
}

.newTitle span {
  //background-color: #270932 !important;
}

.my-row {
  //background-color: #270932;
}

.col-xs-12 {
  //background: #270932 !important;
}

.box-new-series {
  //background: #270932;
}

.search-section button {
  height: 28px;
  border-radius: 5px !important;
  color: #fff;
  background: #272727;
  border-color: #07010900 !important;
}

.creator-form select.datepicker {
  width: 9% !important;
}

.creator-form select {
  width: 75% !important;
}

.creator-form input {
  //width: 75% !important;
}

.creator-form select.datepicker,
.creator-form select,
.creator-form input,
.creator-form textarea {
  border-radius: 0.375rem !important;
}

.navigation {
  //background: #270932 !important;
}

.button {
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  overflow: visible;
  display: inline-block;
  padding: 0.3em 0.6em 0.375em;
  border: 2px solid $color-brand !important;
  border-radius: 0.375rem;
  margin: 0.1rem 0.125rem;
  text-decoration: none;
  text-align: center;
  font: 14px/normal "lucida grande", tahoma, verdana, arial, sans-serif;
  //white-space: nowrap;
  cursor: pointer;
  color: $color-brand !important;
  background-color: $color-background-clear !important;
  background-image: none !important;
  //box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 ;
  box-shadow: 0px 1px 4px $color-brand-shade-dark;
  //zoom: 1;
  *display: inline;
  transition-duration: .1s;
}

.button:hover {
  background-color: $color-brand-shade-dark !important;
  color: white !important;

  box-shadow: 0px 1px 2px $color-brand-shade-dark;
}

.posts-last,
.add-post textarea {
  border-radius: 0.375rem !important;

  textarea {
    color: white;
    background-color: #383838 !important;

  }
}

.buttons {
  background-color: #222222 !important;
}

.tt-dropdown-menu {
  background-color: #383838 !important;
  color: #ccc !important;
}

.tabs li {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.search-section label {
  padding-bottom: 1%;
}

.pagination ul {
  text-align: center !important;
  display: block !important;

}

.character-list ul,
.staff-list ul {
  display: flex;
  flex-wrap: wrap;

  .data-view-list {
    width: 50%;
    padding: 0;
  }
}

.search-genres-desc {
  margin-left: 8px;
  width: calc(20% - 8px) !important;
}

#search-genres-type {
  margin-left: 2px;

}

.search-section label {
  padding: 3px;
}

.search-section ul {
  padding-top: 7px;
}

.form-search fieldset input[type=text] {
  border-radius: 0.375rem;

}

#main-search,
.main-search {
  background-color: #383838 !important;
  border-radius: 0.375rem;

  input[type=submit] {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    

  }

}

.modal-body {
  background-color: #222222 !important;
}

.tabs {
  display: flex !important;
 flex-wrap: wrap !important;
  justify-content: center !important;

}
.search-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tabs-container{
  
 //to jest do tego gówna pod listą anime wypunktowane ścierwo ogółem//
}