

.button,
.button:visited {
    position: relative;
    z-index: 1;
    overflow: visible;
    display: inline-block;
    padding: 0.3em 0.6em 0.375em;
    border: 1px solid #999;
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    white-space: nowrap;
    cursor: pointer;
    /* outline: none; */
    color: #000;
    background-color: #d05909;

    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus,
.button:active {
    border-color: #777 #777 #666;
    text-decoration: none;
}

.button:active {
    border-color: #aaa;
    background: #ddd;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* extensions */

.button-toolbar {
    padding: 6px;
    border-top: 1px solid #ccc;
    background: #222222;
    & .button, & .button-group {
        vertical-align: bottom;
    }
}

.button-group {
  white-space:nowrap;
  padding: 1px 5px;
  letter-spacing: 0px;
  word-spacing: 0px;
  font-size: 0;
  .button {
    border-left-width: 0px;
    border-right: 1px solid #CCC;
  }
  .button:first-child {
    border-left-width: 1px;
  }
  .button:last-child {
    border-right: 1px solid #999;
  }
}

.button-tooltip {
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
}


.parent-on-hover{
    position:relative;
}
.parent-on-hover .on-hover-button{
    display:none;
    position:absolute;
    top:-4px;
    background: none repeat scroll 0 0 $color-brand-shade-dark;
    color: #fff;
    right: 2px;
    padding:2px;
    text-decoration: none;
}
.parent-on-hover:hover .on-hover-button{
    display:block;
}


