
.fb-comments{
	background:#488dc6;
}


/*logo */
.logo {
	height: 300px;
}
.logo-char {
	left:20%;
	max-height: 295px;
}
.logo .logo-title img {
	margin: 25px 0px 0px 0px;
	left: 140px;
	position: absolute;
	display: none;
}
/*tło i kolor czcionki */
body {
    background: #33608E repeat scroll 0 0;
	color: #fff;
}
/*logo */
.media-item .media-title-id > a {
    color: #e80000;
}
.nav-main {
    padding: 0px 0px 0px 0px;
}
.nav-main, .nav-user {
    background-color: rgba(154, 0, 0, 0.6);
}
.top-bar {
    background: linear-gradient(to bottom, #e1142e, #850c22);
}
.nav-main .nav-list > li a {
    padding: 1px 7px 1px 6px;
}
.nav-user li a {
color: #fff;
}

ul.nav-list-sub li a{
color: #fff;
}
li.active.is-active a:hover{
color: #fff;
}
ul.l-inline.nav-list li a:hover{
color: #fff;
}

/*stopka */
.l-footer {
    background: #900606;
	background: linear-gradient(to bottom, #e1142e, #840a22);
    color: #fff;
} 
.l-footer a {
    color: #fff;
} 
.form-search{
	margin: 5px 0 0 0;
	position: absolute;
	right: 5px;
}
.form-search fieldset input[type="text"] {
    font-size: 14px;	
}
.form-search fieldset input[type="submit"],.form-search fieldset input[type="submit"] a {
    color: #fff;
	font-size: 14px;
	background: #7e0111;
}
/*ostatnie multimedia*/
.media-item .media-title-id > a{
color: #fff;
}

/*ostatnie sezony*/
.tabs {
border-bottom: 1px solid #77c4ff;
}
.tabs li {
background: #488dc6;
color: #fff;
border: 0px solid #77c4ff;
}
.tabs li a {
color: #fff;
}
.tabs li a:hover {
    background: #4078b2;
}
html .tabs li.active, html ul.tabs li.active a:hover  { 
    background: #4078b2;
    border-bottom: 1px solid #77c4ff; 
}

/*paski podreslajace */
.carousel-text {
    border-bottom: 1px solid #77c4ff;
}
.media-list > .media-item {
    border-bottom: 1px solid #77c4ff;
}
.box-new-series > .box-title {
    border-bottom: 1px solid #77c4ff;
}
	
.nav-main-sub {
    background:  #850c22;
    height: 26px;
    padding: 5px 4px 0;
    position: relative;
}

.nav-list > li a:hover, .nav-list-sub li:hover a {
    color: #fff;
}
.nav, .nav a {
    color: #fff;
}
.nav, .nav a:hover {
    color: #fff;
}
.info-aside{
	background: #4078b2;
}
.info-top {
	background: #4078b2;
}
.info-top-table-highlight {
    background-color: #4684CB;
}
.nav-main-sub .is-active {
    background-color: #4078b2;

    @include border-bottom-radius(0);
    > a {
        color: $font-base-color;
    }
}

.info-aside-bottom {
    @include linear-gradient(#4078b2, #4b8de0);
    margin-bottom: 0;
    padding-bottom: 1px;
    float:left;
    width:100%;
    @include box-sizing(border-box);
}

.info-aside-bottom-out {
    @include linear-gradient(#4078b2, #4b8de0);
}
.box-bottom {
	@include linear-gradient(#488dc6, #6ba5eb);
}
.box-highlighted {
    background-color: #4078b2;
    padding: 20px 10px;
}
.media-list-user-edits .media-item:nth-child(2n+1) {
  background-color: #4078b2;
}
 .data-view-table-strips tr:nth-child(2n) {
    background-color: #4078b2;
}
.search-section {
    background: #488dc6;
}
.search-form {
    padding-top: 10px;
    border: 1px solid #77c4ff;
}

.data-view-table-title tr {
    border-bottom: 1px solid #77c4ff;
}
.pagination ul li a:hover {
	background: #61a3f3;
}
.person-character-item {
    border-bottom: 1px solid #77c4ff;
}
.timeline .year {
    border: 2px solid #77c4ff;
}
.timeline .event {
    border-bottom: 1px solid #77c4ff;
}

.tags li a {
    border: 1px solid #77c4ff;
}
.pagination ul li a {
    border: 1px solid #77c4ff;
}
.media-comment {
    border-bottom: 1px solid #77c4ff;
}
.media-comment>.img {
    border: 1px solid #77c4ff;
}
.data-view-article {
    border-bottom: 1px solid #77c4ff;
}
.element.style {
background-color: #77c4ff;
}

.info-aside-title {
border-bottom: 1px solid #77c4ff;
}
.figure-type {
border: 1px solid #77c4ff;
}

.slider {
    color: #fff;
    background: #4078b2;
}

.slider-data .desc {
    background: rgba(51,99,142,0.8);
    color:#fff;
}
.slider .slider-list {
    .active{
        background: #33608E;
    }
}
.slider-buttons {
    background: #33608E;
	color: #fff;
	a {
        color:#fff;
	}	
}
.media > .imgExt figure {
    color:#ca122b;
	text-shadow:  1px 1px 0.2em #fff, -1px -1px 0.2em  #fff, -1px 1px 0.2em #fff, 1px -1px 0.2em #fff;
	padding-right: 3px;
}
.media > .imgExt figure a {
    color:#ca122b;
}
.button-toolbar {
    background: #488DC6;
}

body{
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	

.logo .logo-title {
   height: 241px;
  	background-image: url('../img/s1.png'), url('../img/s2.png'), url('../img/s3.png');
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;} 
}


/*wymuszenie kolorow tekstow opisow i recek*/
.data-view-table-full span{
    color: #fff !important;
}
.box-art-text{
    color: #fff !important;
}
/*wpisywanie w formularzu*/
.creator-form .twitter-typeahead input {
    color: #000;
}

body .form-search fieldset select {
    left: -4em;
    font-size: 14px;
}
.media-user {
    border-bottom: 1px solid #77c4ff;
}




.error {
    background-color: #c43d3d;
    border-color: #de4343;
    a {
        color: silver;
    }
}

