.action-tip, .action-tip li a { 
  color: #fff;
}
tipsy-inner.action-tip, .tipsy-inner.action-tip li a {
}
/*wymuszenie kolorow tekstow opisow i recek*/
.data-view-table-full span{
    color: #eceaec !important;
}
.box-art-text{
    color: #eceaec !important;
}


.info {
    background-color: #3b8eb5;
    border-color: #4ea5cd;
}

.error {
    background-color: #c43d3d;
    border-color: #de4343;
}
