
.logo {
	position: relative;
	height: 300px;
	background: url('../img/header.png');
}
.logo-char {
	position: absolute;
	bottom: 0;
	right:8%;
	max-height: 290px;
        @media (max-width:400px) {
            left:10%;
        }
}
.logo .logo-title {
	height: 245px;
	text-align: left;
}
.logo .logo-title img {
	margin: 15px 0px 20px 0px;
	left: 0px;
	position: absolute;
	max-height: 220px;
}