/////* colors */


$color-background: #FFF;
$color-l-container-secondary: #e7f5ff;
$color-background-2: #EAEDF0;
$color-background-3: #C8D6DF;
$color-background-clear: #FFF;

$color-background-medium: #d0e0fb;
$color-medium: black;
$color-medium-accent: #07400a;

$color-brand: #07400a;
$color-brand-second: #A7DBD8;
$color-brand-dark: #253646;
$color-brand-shade-dark: #2F5E67;

$color-accent: #3C81C4;


$color-accent-2: #6ECA5F;

$color-note-text: #999;
$color-note-text: #566471;




$color-section-bottom-border: #2d4e70;

$color-table-strip-nd-row: #F6F8FB;

$tagsDefaultColor: $color-background-clear;
$button-color: $color-brand-dark;
$button-bg-color: $color-background-clear;
$button-radius: 3px;

/////* sizes */
$size-global-min-width: 1030px;
///*
//$size-global-min-width: 350px;
//.form-search {
//    display: none;
//}
//*/
$size-global-max-width: 1030px;
$size-footer-height: 220px;
$size-primary-height: 322px;

/////* typography */
$font-base-size: 14;
$font-base-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$font-base-lineHeight: 1.5;
$font-base-spacing: 0.5em;
$font-base-color: #010809;
$font-base-highlight: #4ca2d1;
$font-base-lowlight: $color-brand-second;

$font-rank-family: "Comfortaa",cursive;



$color-nav-hover: #999;

//lista odcinkow - podświetlenie aktywnego playera
$media-row-active-bg-color: rgba(mix(white,$color-accent,1%),0.3);
$media-row-hover-bg-color: rgba(mix(white,$color-accent,30%),0.3);




//pools - ankiety
$pool-hover-quextion-bg-color: rgba($color-background-medium,0.3);
$pool-hover-answer-bg-color: rgba($color-background-medium,0.3);

$pool-border-color: $color-section-bottom-border;
$pool-note-text: $color-note-text;
$pool-disabled-color: lighten($pool-note-text, 20%);
$pool-form-div-bgcolor: rgba($color-note-text,.3);
$pool-votes-cnt-bgcolor: rgba($color-accent-2,0.3);




//navigation
$nav-color: white;
$nav-color-hover: $nav-color;
$nav-bg-color: #363636;
$sub-nav-color: $color-brand;
$sub-nav-bg-color: #566471;

$nav-font-weight: normal;
$nav-font-family: 'Comfortaa', cursive ;

$cover-background: url('../img/img-back.png');

$input-color: #222;
$input-bg-color: #fff;
$input-border-color: #bebebe;
$input-ro-color: #3E3E3E;
$input-ro-bg-color: #ccc;

$creator-border-color: #ebebeb;
$creator-nav-bg-color: $color-background-2;
$creator-nav-border-color: $color-section-bottom-border;

$left-col-bg: $color-background-medium;
$left-col-bg-accent-color: #accae5;

$footer-link-color: $color-background;

$similarity-color: white;
$similarity-bg-color: $button-bg-color;

$form-legend-color: $color-medium;
$form-bg-legend-color: $color-background-medium;

$title-searchform-bg-color: #fff;
$title-searchform-border-color: #E2E2E2;
$title-searchform-tab-color: #333333;
$title-searchform-tab-bg-color: #f2f2f2;
$title-searchform-active-tab-bg-color: #fff;

$pagination-hover-bg-color: #e5e5e5;
$pagination-active-bg-color: #fff;
$pagination-active-border-color:#ddd;

//KOLEJNOŚĆ: GŁÓWNA
$slider-link-color: #fff;

//KOLEJNOŚĆ: strona konkretnego anime
$info-top-bg-color: $left-col-bg;
$progressbar-bg-color: #C0CBF6;
$progressbar-color: #a6dc00;
$progressbar-text-color: #ffffff;
$progressbar-text-shadow-color: #a0a0a0;
$title-relations-border: blue;

$last-box-bg1-gradient: $color-background;
$last-box-bg2-gradient: #f3f6fa;

//po: dodaj do listy
$modal-overlay-color: black;
$modal-color: $font-base-color;
$modal-bg-color: $color-background;

//KOLEJNOŚĆ: user/to-watch
$to-watch-text-color: $color-brand-shade-dark;
$to-watch-rate-icon-color: rgba($to-watch-text-color, 0.25);

$transition-fast: 0.3s;

$nav-main-mobile-break-point: 772px;

$nav-user-bg-lvl1: #566471;
$nav-user-lvl: #fff;
$nav-user-bg-lvl2: #efefef;
$nav-user-lv2: #262f35;
$nav-user-bg-active-lvl2: #fff;
$nav-user-active-lv2: #000;
