///* Layout rules divide the page into sections. Layouts hold one or more modules together. */

@import 'config';
@import '_mixins/linear-gradient';

///* it a trick for footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    @media (max-width:600px){
        margin:0;
    }
}



///* end of trick for footer */

.l-global-width {
    @media (min-width:$size-global-max-width) {
        max-width: $size-global-max-width;
    }
    width: 100%;
    position: relative;
    margin: 0 auto;
    *zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.l-footer {
    @media (min-width:$size-global-max-width) {
        max-width: $size-global-max-width;
    }
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /*height: $size-footer-height;*/
    padding-bottom:38px;
    background: #162c41;
    color: $color-background;
    @media (max-width:600px) {
        height: auto;
        position: relative;
        bottom:0;
    }
}

.l-global-width-strict:before,.l-global-width-strict:after {
    display: table;
    content: "";
    line-height: 0
}

.l-global-width-strict:after {
    clear: both
}

.l-container-zero {
    margin: 0;
    overflow: hidden;
    width: 100%;
}


.l-container-primary {
    background-color: $color-background;
    padding-bottom: 2px;
}
.l-container-secondary {
    background-color: $color-l-container-secondary;
    padding-bottom: 5px;
}

.l-container-gradient {
    background: #ffffff; ///* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 79%, #c3d4e6 100%); ///* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(79%,#ffffff), color-stop(100%,#c3d4e6)); ///* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 79%,#c3d4e6 100%); ///* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 79%,#c3d4e6 100%); ///* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 79%,#c3d4e6 100%); ///* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 79%,#c3d4e6 100%); ///* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c3d4e6',GradientType=0 ); ///* IE6-9 */

    margin-bottom: 0;
    padding-bottom: 1px;
}

.l-main-contantainer {
    @extend .l-container-primary;
    overflow: hidden;
}


.l-container-title-scrollable {
    max-height: 360px;
}

.l-inline > * {
    display: inline-block;
}

.l-stacked > * {
    display: block;
}

.l-grid {
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
        display: inline-block;

        ///* IE7 hack to mimic inline-block on block elements */
        *display: inline;
        *zoom: 1;
    }
}

.l-container-col2 {
    overflow: hidden;
}

.mobile-visible, .mobile-show {
    display:none;
    @media (max-width: 940px) {
        display:inline-block;
    }
}
.mobile-hidden {
    @media (max-width:940px) {
        display:none;
    }
}
.mobile-small-visible, .mobile-small-show {
    display:none;
    @media (max-width:550px) {
        display:block;
    }
}
.mobile-small-hidden {
    @media (max-width:550px) {
        display:none;
    }
}
.celarfix {
    @include clearfix();
}
