
@import '../_mixins/clearfix';
.takie-tam {
    padding: 5px;
    text-align: center;
}
.ns_placement{ // dla add-content
    display: inline-block;
}
.r-r {
    display: none;
}
body>div[id^="c_window_"] {
    margin: 0 !important;
}