///* carousel module */

@import '../_mixins/border-radius';
@import '../_mixins/box-shadow';
@import '../_mixins/transition';
@import '../_mixins/vertical-align';

$size-carousel-width: 1000px;
$size-carousel-height: $size-primary-height;
$size-carousel-text-top: $size-primary-height - 140px;
$size-carousel-pagination-top: $size-primary-height - 40px;

.carousel {
	height: $size-carousel-height;
	overflow: hidden;
	max-width: $size-carousel-width;
	position: relative;
}

.carousel > .carousel-slides {
  width: 20000em;
  position: relative;

  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-slides li {
  float: left;
  position: relative;
  height: $size-carousel-height;
  max-width: $size-carousel-width;
}

.carousel-img {
	width: 100%;
}
.carousel-desc {
   	position: absolute;
   	top: $size-carousel-text-top;
   	left: 0;
   	width: 100%;
}

.carousel-desc > .carousel-desc-text {
   	color: white;
   	font: bold 24px/45px Helvetica, Sans-Serif;
   	line-height: 49px;
   	letter-spacing: -1px;
   	background: rgb(0, 0, 0); ///* fallback color */
   	background: rgba(0, 0, 0, 0.7);
   	padding: 10px;
}

.carousel-desc-text > .carousel-desc-text-spacer {
   padding:0 5px;
}

///* controls */
.carousel-ctr {
	&:hover {
		text-decoration: none;
	}
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    background: black; 
	background: rgba($sub-nav-color,.3);
	color: $sub-nav-bg-color;
    text-decoration: none;
    font: 24px/27px Arial, sans-serif;
            border-radius: 50%;
}

.carousel-ctr-prev {
    left: 10px;
}
.carousel-ctr-next {
    right: 10px;
}

///*pagination */

.carousel-pagination {
    clear:both;
    width:10%;
    min-width: 80px;
    margin:25px auto 0;
    padding:0;
    position: absolute;
    top: $size-carousel-pagination-top;
    left: 45%;
    display: block;
}


.carousel-pagination a {
    float:left;
    margin:0 2px;
    display:block;
    width:10px;
    height:10px;
    text-indent:-10000px;
    background: $color-background;
    @include border-radius(10px);
    @include box-shadow(1px, 1px, 1px, rgba(0, 0 ,0, 0.4) ,true);
}

///* grow effect */
///*GROW*/
.carousel-grow .carousel-img {
  @include transition(all, 1s, ease);
}

.carousel-grow:hover .carousel-img {
  width: 110% !important;
}

///* extensions */

.carousel-text {
	height: 323px;
	border-bottom: 1px solid $color-background-2;
        &.recommends-slider {
            @media (max-width:500px) {
                height:auto;
            }
        }
}
.carousel-text-data{
    margin: -2px 40px 0 35px;
    padding: 0;
}
.carousel-text .carousel-pagination {
	top: 270px;
}
.carousel-text.recommends-slider .carousel-pagination{
    @media (max-width:500px) {
        top:90%;
    }
}

///* carousel states */

.carousel-pagination .is-active {
    background: $color-brand;
}

.carousel-ctr.is-inactive {
    opacity: .5;
    cursor: default;
}
