
@import '../_mixins/clearfix';

.side-slider{
	position:fixed;
	right:-302px;
	top:190px;
        padding: 0;
	z-index:100;
    .tab{
        cursor:pointer;
        height:110px;
        width:35px;
        float:left;
        background: url(../img/facebook-slider.png) no-repeat center center;

    }
    .side-code{
        padding:5px;
        border: solid #0170cf 3px;
        background: #fff;
        float:left;
        width:286px;
        height:305px;
        -moz-border-radius: 0 0 0 8px;
        -webkit-border-radius: 0 0 0 8px;
        border-radius: 0 0 0 8px;
        color: #111;
        a{
            color: #111;
        }
    }
}
#radio-slider {
    top: 310px;
    .tab {
        background: url(../img/radio-slider.png) no-repeat center center;
        height: 69px;
    }
    .side-code {
        height: 100px;
        text-align: center;
    }
}
div.fb-like {
	display: block;
}
