
@import '../_mixins/border-radius';
@import '../_mixins/box-shadow';
@import '../_mixins/vertical-align';
@import '../_mixins/linear-gradient';
@import '../_mixins/transition';
@import '../_mixins/box-shadow';
@import '../_mixins/clearfix';
@import '../_mixins/box-sizing';

$highlight-padding: 18px;


.info-top {
	background-color: $left-col-bg;
	overflow: hidden;
	padding: 0;
	margin: 0;
	#description {
		padding-right: 7px;
	}
}

.info-top-title {
	margin: 0 3px 11px 3px;
	padding: 0 10px;
	border-bottom: $color-section-bottom-border 1px solid;
	font-family: 'Comfortaa', cursive;
}

.info-top-table-highlight {
	background-color: $left-col-bg-accent-color;
	tr:first-child td {
	   padding-top: $highlight-padding;
	}
	tr:last-child td {
       padding-bottom: $highlight-padding;
    }
	td:first-child {
		vertical-align: middle;
	}
}

.info-top-desc {
    position: relative;
    padding-right: 10px;
}

.info-top-desc-edit {
    position: absolute;
    right: 2px;
    background: $color-brand-shade-dark;
    color: #fff;
    display: none;
}

.info-top-desc:hover .info-top-desc-edit{
    display: block;
}
