///* media module */

@import '../_mixins/border-radius';
@import '../_mixins/box-shadow';
@import '../_mixins/transition';
@import '../_mixins/column-count';
@import '../_mixins/font-size';

$media-comment-img-width: 100px;
$media-image-resized-max-size: 200px;

.media {
    margin: 10px;
    zoom: 1;
    text-align: left;
    &:before,
        &:after {
        content: " ";
        //display: table;
    }
    &:after {
        clear: both;
    }
    .img {
        float:left;
        margin-right: 5px;
        margin-top: 3px;
        img {
            display:block;
            &.zoom-img {
                position: absolute;
                display: none;
            }
        }
        &:hover .zoom-img {
            display: block;
            max-width: $media-image-resized-max-size;
        }
    }
    > .imgExt{
        float:right;
        margin-left: 10px;
        margin-right: 0;
        figure {
            padding-left: 10px;
        }
    }
    > .bd {
        > .media {
            margin: 0;
        }
        display: table-cell;
        vertical-align: top;
        width: 10000px !important;
        *display: block;
        //<=IE7
        *zoom: 1;
        //<=IE7
        *width: auto !important;
        //<=IE7
    }
    > .bd-left {
        display: table-cell;
        vertical-align: top;
        *display: block;
        //<=IE7
        *zoom: 1;
        //<=IE7
        *width: auto !important;
        //<=IE7
    }
    > .bd-right {
        @extend .bd-left;
        float: right;
        margin-left: 10px;
        margin-right: 0;
        text-align: right;
    }
}

.media-inline {
    vertical-align: middle;
    > img, > span {
        display: inline-block;
        vertical-align: middle;
    }
}

.media-header {
    padding: 0;
    margin: 0;
}


///* extensions */
.media-item {
    min-width:170px;
    overflow: hidden;
    margin:0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid $color-background;
    page-break-inside: avoid;
    column-break-inside: avoid;
    break-inside: avoid-column;
    .media-title-id {
        margin: 0 !important;
        padding:3px 0 0 0 !important;
        > a {
            color: $color-accent;
        }
    }
    .media-title-go {
        display: block;
    }
    .media-title-cover {
        background: $cover-background;
        padding: 1px;
        background-size: 100% 100%;
    }

}

.media-figure-icon {
    padding-top: 10px;
}


.media-comment  {
    min-height: $media-comment-img-width + 40px;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-background-2;
    > .img {
        width: $media-comment-img-width;
        max-height: $media-comment-img-width;

        overflow: hidden;
        border: 1px solid $color-background-3;
        background: $color-background-clear;
        @include border-radius(5px);
        @include transition(all, .2s, ease);
        max-height: 1000px;
        margin-right: 10px;
        > img {
            max-width: ($media-comment-img-width - 8px);
            margin: 4px auto;
        }
    }
}
.media-comment-actions {
    display: block;
    clear: both;
    list-style: none;
    padding:0;
    margin:0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.media-comment-author {
    margin-top: 2px;
}
.media-comment-date {
    color: $color-note-text;
    &::before {
        content: "\2022";
        margin: 0 15px;
    }
}
.media-comment-signature {
    border-top: 1px dashed $color-background-2;
}



///* lists of media items */
.media-title-grid > .media-item {
    padding-bottom: 2px;
}

.media-list {
    margin-top:7px;
    list-style: none;
    padding: 0 10px;
    @media (max-width:600px){
        padding:0;
    }
    > .media-item{
        margin-bottom: 4px;
        border-bottom: 1px solid $color-background-3;
    }
}


.media-person-list {
    @include column-count(2);
    list-style: none;
    padding: 0;
    margin: 0 6px;
    > .media-item {
        margin-top: 0;
    }

}

.media-list-user-edits {
    .media-item {
        margin: 0;
        padding: 0 5px;
    }
    .media-item:nth-child(2n+1) {
        background-color: $color-table-strip-nd-row;
    }
    .img{
        width: 70px;
        img {
            max-width: 70px;
        }
    }
    .imgExt {
        text-align: right;
    }
    textarea {
        width: 100%;
        margin-bottom: 5px;
    }
    .user-points {
        text-align: center;
        font-size: 28px;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
    }
}
.top-users .media-user {
    @media (max-width:600px){
        height:150px;
    }
}

.media-user {
  .img {
    border-radius: 50%;
    overflow: hidden;
    height: 48px;
    width: 48px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background: #65727F;
    white-space: nowrap;
    margin: 0;
    margin-right: 10px;
    img {
      vertical-align: middle;
      width: 100%;
      display: inline-block;
    }
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  h3, h4, span {
    line-height: .75em;
    padding: 0;
  }
  h3 {
    margin: 0 0 6px;
    text-transform: capitalize;
  }
  h4 {
    margin: 10px 0 5px;
  }

  border-bottom: 1px solid $title-searchform-border-color;
}


.media-stats {
    padding-bottom: 0;
    .media-stats-img-number {
        @include font-size(16);
        margin-top: 0;
        width: 25px;
        text-align: right;
    }
    .media-stats-small-number {
        @include font-size(10);
    }
    .media-stats-imgExt {
        margin-top: 0;
        min-width: 62px;
        margin-left: 5px;
    }
    .media-stats-progressbar {
        margin-top: 4px;
    }
}

.is-inactive.selected {
  color: $color-brand-second;
}
