
@import '../_mixins/border-radius';
@import '../_mixins/transition';
@import '../_mixins/opacity';

///* error messages */
.message_list {
    list-style-type: none;
    padding-left: 0;
    li {
        padding: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

}

.info {
    background-color: #4ea5cd;
    border-color: #3b8eb5;
    a {
        color: silver;
    }
}

.error {
    background-color: #de4343;
    border-color: #c43d3d;
    a {
        color: $color-brand-shade-dark;
    }
}

.warning {
    background-color: #eaaf51;
    border-color: #d99a36;
}
.creator-form .warning div.help {
    color: darken(#566471, 10%);
}

.success {
    background-color: #61b832;
    border-color: #55a12c;
}

.player-message {
    font-size: 2rem;
    margin: 30vh 10%;
    padding: 10vh 10px;
    font-weight: bold;
}
