
#plus18{
    background-color: $color-background; border: 2px solid red; padding:10px;
}

#episode-online-edit-form{
     background-color:$color-background; border:2px solid blue; padding:7px
}

.modal-layer {
    position: fixed;
    background: rgba($modal-overlay-color, 0.6);
    z-index: 999;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    &.active {
        display: block;
    }
    .modal-body {
        color:$modal-color;
        width: 400px;
        max-width: 98%;
        height: 200px;
        max-height: 98%;
        padding: 10px;
        background: $modal-bg-color;
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1px;
    }
    .modal-close{
        font-size: x-large;
        cursor:pointer;
        color: darken(#fd625e, 30%);
        &:hover {
            color: darken(#fd625e, 0%);
        }
        &::before {
            display: inline-block;
            width: 30px;
            height: 30px;
            //background: $font-base-color;
            //color: $color-background;
            position: absolute;
            right: 2px;
            text-align: center;
            line-height: 30px;
            top: 2px;
            content: "\f2d3";
            font-family: FontAwesome;
        }
    }
}


.add-to-list-modal {
    .modal-body {
        min-height: 140px;
        width: 440px;
    }
    ul {
        padding-top: 5px;
        @include clearfix();
    }
    li {
        display: inline-block;
        min-width: 80px;
        min-height: 70px;
        text-align: center;
        float: left;
        figure {
            float: none;
            color: $color-brand;
            cursor:pointer;
        }
        &.dbl{
            min-width: 160px;
        }
        &.full {
            width:100%;
            input {
                width:92%
            }
        }
    }
    .range {
        margin-top:4px;

        .zero::before {
            position:absolute;
            content: "\f059";
            font-family: FontAwesome;
            display: block;
            top:0;
            left:5px;
            margin-left:5px;
        }
        .zero::after {
            position:absolute;
            content: "\f21e";
            font-family: FontAwesome;
            display: block;
            top:0;
            right:5px;
            margin-right:5px;
        }
        .zero {
            position: absolute;
            font-family: FontAwesome;
            display: block;
            width:100%;
            top: -10px;
            text-align: left;
            b {
                display: inline-block;
                margin-left: (100% / 5 * 2);
            }
        }
        &.likely-recommend {
            .zero::before {
                content: "\f088";
            }
            .zero::after {
                content: "\f087";
            }
            figcaption {
                position: relative;
                top: -10px;
            }
        } //chęć polecenia

        // tylko dla chrome
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            input::before {
                content: '';
                display: block;
                background-color: $color-brand;
                height:3px;
                z-index: 1;
                position:absolute;
                top:13px;
                left:26px;
                right:26px;
                pointer-events: none;
            }
            input.range-recommend::before {
                left:20px;
                right:20px;
            }

        } //ENDIF chrome
    } // suwaki
}
