
.pagination ul {
    text-align: center;
    @media (max-width:600px){ 
        padding-left:0;
    }
}
.pagination ul li {
    display: inline;
    margin: 0 4px 0 0;
    @media (max-width:600px){
        display:inline-block;
    }
}
.pagination ul li a {
    padding: 3px 8px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid $color-background-3;
    background: $color-background-clear;
    border-radius: 4px;
    @media (max-width:600px){
        display:inline-block;
    }
}
.pagination ul li a:hover,
.pagination ul li a:focus {
    color: $font-base-color;
    background-color: $pagination-hover-bg-color;
    text-decoration: underline;
}
.pagination ul li a:active {
    background: $pagination-active-bg-color;
    border-color: $pagination-active-border-color;
}				
