@import "../_mixins/clearfix";

.relation_t2t {
    position: relative;
    .t2t-delete {
        visibility: hidden;
        position: absolute;
        bottom: 100px;
        right: 25px;
        padding: 5px;
    }
    figcaption:last-of-type {
        display: inline-flex;
        width: calc(100% - 2px);
        padding: 0;
        height: 2.1rem;
        justify-content: center;
        align-items: center;
        line-height: 1;
    }
    &:hover .t2t-delete {
        visibility: visible;
    }
    .recomm-info-box,
    .recomm-info-box-selected,
    .report-recomm-info-box {
        min-width: 30%;
        .recomm-img {
            float: left;
            margin-right: 15px;
        }
    }
    .staff-ac-img,
    .character-ac-img {
        float: left;
        margin-right: 15px;
    }
    &.display-both > div {
        display: inline-block;
    }

    .beetwen {
        margin: 7px;
        transform: translateY(-50%);
        line-height: 100px;
    }
}
.relation-title2title-item {
    .recomm-info-box {
        min-width: 250px;
        max-width: 800px;
        width: 80vw;
        img {
            margin-right: 15px;
            float: left;
        }
    }
}
