

$shop-diode-radius: 10px;

.shop-info-bar {
  float: right;
  font-size: 12px;
}


.shop-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 22.3%;
  margin: 0.8%;
  border-top: 1px solid darken(#FFF, 10%);
  border-left: 1px solid darken(#FFF, 5%);
  @media (max-width:700px){
      width:48%;
      margin:0;
  }
  @media (max-width:450px){
      width:98%;
  }
  .shop-action-button {
    display: inline-block;
    margin-left: 16px;
    font-variant: small-caps;
    font-weight: bold;
  }
  .image-container {
    text-align: center;
    height: 120px;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
  h4, h5 {
    margin: 1.6% 0 0 0;
  }
  ul {
    margin: 0;
    padding-left: 20px;
  }
  .shop-description {
    margin: 1.6%;
    padding-bottom: 24px;
  }
  .shop-action {
    position: absolute;
    bottom: 6px;
    right: 16px;
    figure {
      margin-left: 16px;
      float: right;
    }
  }
  .shop-points {
    font-weight: bold;
  }
  .shop-price {
    float: right;
  }
}
.shop-price {
  color: $color-accent;

}

.shop-card {
  border-top: 1px solid darken(#FFF, 5%);
  border-left: 1px solid darken(#FFF, 5%);
  padding: 1.6%;
  margin: 12px 0;
  overflow: hidden;
}
.shop-buy-section {
  //background: $color-background-2;
  border-bottom: 1px solid darken($color-background-2, 10%);
  padding: 1.6%;
  dd, dt{
    line-height: 24px;
  }
  .timespan-slider {
    width: 180px;
    float: left;
    margin-right: 10px;
  }
  .shop-buy-button {
    float:right;
  }
  .shop-price {
    font-weight: bold;
    font-size: 16px;
  }


}

.shop-avaible {
  text-align: right;
  width: 100%;
  overflow: hidden;
  figure {
    float: right;
  }
}

.shop-image {
  line-height: 0;
  display: inline-block;
  //border: solid 4px #FFF;
  width: 97%;
  margin: 0 1.6%;
  //box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

///* states */



