// Pojedyncze (sub)bloki używane w tytułach.

@import '../_mixins/border-radius';
@import '../_mixins/clearfix';

ul.genres{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    //justify-content: space-around;
    justify-content: center;
    //justify-content: space-between;
    li{
        flex: none;
      a{
          border: 1px solid $color-background-3;
          @include border-radius(6px);
          background-color: $tagsDefaultColor;
          float: left;
          margin-right: 5px;
          padding: 1px 4px;
          font-size: small;
      }
      &:hover a{
          border: 1px solid $color-brand;
          color: $color-brand;
          text-decoration: none;
      }
    }
}



//  Średnie ocen na ikonkach (to-wath, seasons)
.rate-stats{
    display:block;
    cursor:pointer;


    span{
      position:relative;
      display:block;
      float:left;
      width: 44px;
      height: 44px;
      i{
          margin-top:4px;
          //color: $to-watch-rate-icon-color;
          position:absolute;
          left:0;
          top:3px;
      }
      em, b{
        position:absolute;
        display:block;
        left:0; right:0;
        text-align:center;
        //color: $to-watch-text-color;
      }
      em{
        font-size:x-small;
        bottom:6px;
      }
      b{
        font-weight: normal;
        //font-size: large;
        font-size: small;
        left: 1.3em;
        top:3px;
      }
      &.rate b{
        top:9px;
      }

    }
}

nav.nav-buttons {
        li {
            display: inline-block;
        }
        a {
            display: block;
            margin: 1ex 0.4ex;
            padding:0 1ex;
            border: 1px solid $color-background-3;
            @include border-radius(6px);
            background-color: $tagsDefaultColor;
            &:hover, &.active{
                border: 1px solid $color-brand;
                color: $color-brand;
                text-decoration: none;
            }
            &.active {
                background-color: $color-background-medium;
            }
        }
}
h1.page-title {
    background-color: $left-col-bg;
    margin: 0;
    padding: 0 10px;
    border-bottom: $creator-nav-border-color 1px solid;
    font-family: 'Comfortaa', cursive;
    &.small {
        font-size: large;
        padding-top: 5px;
    }
}
.title-other, .episode-head{
    padding: 4px 7px;
    background-color: $left-col-bg;

}
h2.episode-head {
    margin:0;
    font-size: x-large;
    position:relative;
    small {
        font-size: 0.8em;
        font-style: italic;
        position:relative;
        top:-0.3em;
    }
    .episode-type {
        font-size:0.55em;
        position:absolute;
        left:7px;
        bottom:0;
        font-weight:normal;
    }
}

.info-messages-box {
    background-color: $left-col-bg;
    border-radius: 0 !important;
}
