ul.users-list{
    padding: 0;
    list-style: none;
    &>li{
        display: inline-table;
        vertical-align: top;
        $margin: 1%;
        $cols: 4;
        margin: $margin;
        width: (100% - (2*$cols*$margin) - 1%)/$cols;
        //outline: 1px solid red;
        @media (max-width:1000px){
            $cols: 3;
            width: (100% - (2*$cols*$margin) - 1%)/$cols;
        }
        @media (max-width:750px){
            $cols: 2;
            width: (100% - (2*$cols*$margin) - 1%)/$cols;
        }
        @media (max-width:500px){
            width:100%;
        }
    }
    .media-img{
        background: $color-background-clear none repeat scroll 0 0 padding-box;
        border: 1px solid #c8d6df;
        border-radius: 5px;
        margin-right: 10px;
        max-height: 1000px;
        overflow: hidden;
        transition: all 0.2s ease 0s;
        width: 100px;
        float: left;
        display: block;
        img{
            margin: 4px auto;
            max-width: 92px;
            display: block;
            min-height: 60px;
        }
        .rank{
            font-family: $font-rank-family;
            display: block;
            text-align: center;
            margin:0.5em 3px;
        }
    }
    h3{
        margin: 0 2px 0 107px;
        border-bottom: 1px solid #c8d6df;
        overflow:hidden;
    }
    a:hover{
        text-decoration: none;
    }
    dl{
        margin-top:0;
        display:table;
    }
    dt{
        font-size: small;
        font-style: italic;
    }
    dd{
        margin-left:1em;
        display: block;
        text-align: right;
    }
}
.top-users{
    margin:1%;
    width:98%;
    h1{
        border-bottom: 3px solid $color-section-bottom-border;
        padding:0 5px;
    }
    h2{
        border-bottom: 1px solid $color-section-bottom-border;
        @media (max-width:600px){
            height:70px;
        }
    }
    .media-figure-icon {
        @media (max-width:600px){
            display: none;
        }
    }
    .years{
        text-align: center;
        h2{
            text-align: left;
        }
        a:hover{
            text-decoration:none;
        }
        & > a{
            border: 1px solid $color-background-3;
            @include border-radius(6px);
            background-color: $tagsDefaultColor;
            margin: 0 5px 10px 0;
            padding: 1px 4px;border: 1px solid $color-brand;
            color: $color-brand;
            font-size: 1.4rem;
            display: inline-block;
            text-transform: capitalize;
            &:hover{
                border: 1px solid $color-brand;
                color: $color-brand;
            }
        }
    }
    .media-user{
        position: relative;
        em{
            position: absolute;
            top:-8px;
            left:-5px;;
        }
         .img {
            $w:56px;
            width: $w;
            height: $w;
        }
    }
}
