
@import '../_mixins/clearfix';
article.waifu {
    section {
        @include clearfix();
    } 
    dl {
        dt {
            float: left;
            display: inline-block;
            width: 5em;
            text-align: right;
            font-weight: bold;
            margin-right: 7px;
        }
    }
    $waifu-width: 133px;
    $waifu-padding: 7px;
    ul.waifu-cards {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include clearfix();
        li {

            h3 {
                width: $waifu-width;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            display: inline-block;
            float: left;
            margin:7px;
            padding:$waifu-padding;
            &:hover{
                background-color: $media-row-hover-bg-color;
            }
        }
        img {
            max-width:$waifu-width;
        }
    }
}




.list-wrap {
    .head {
        position: relative;
        display: flex;
        font-family: Calibri;
    }
    .entry-row {
        display: flex;
        padding: 10px 0px;
        font-family: Calibri;
        &:hover {
            background: $color-l-container-secondary;
        }
        .cover {
            transition: margin-left 0.5s, transform 0.5s;
        }
        &:hover .cover {
            transform: scale(1.8);
            margin-left: 5px;
            margin-right: 5px;
            transition: margin-left 0.5s, transform 0.5s;
        }
    }
    .cover {
        max-width: 65px;
        min-width: 65px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .lp, .id, .attack, .health, .defense, .type {
        text-align: center;
        padding: 20px 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
    }
    .title {
        text-align: center;
        padding: 20px 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 5;
        a {
            text-decoration: none;
            &:hover {
                font-weight: bolder;
                text-decoration: none;
            }
        }
    }
    .image {
        background-position: 50%;
        background-size: cover;
        width: 65px;
        height: 92px;
    }
}

///* Card-List */

.card-list {
    display: block;
    span {
        display: inline-block;
    }
    .wrapper {
        width: 133px;
        height: 276px;
        //*background: white;*/
        border: 1px white solid;
        margin: auto;
        position: relative;
        overflow: hidden;
        border-radius: 10px 10px 10px 10px;
        box-shadow: none;
        transform: scale(0.95);
        transition: box-shadow 0.5s, transform 0.5s;
        .container {
            width: 100%;
            height: 100%;
            .top {
                height: 68%;
                width: 100%;
                -webkit-background-size: 100%;
                -moz-background-size: 100%;
                -o-background-size: 100%;
                background-size: 100%;
                .image {
                    font-color: #00394b;
                    height: 100%;
                    background-color: $color-background;
                }
            }
            .bottom {
                width: 100%;
                height: 32%;
                transition: transform 0.5s;
                &.clicked {
                    transform: translateX(-50%);
                }
                h5 {
                    font-family: Calibri;
                    margin: 0;
                    padding: 0;
                }
                p {
                    font-family: Calibri;
                    margin: 0;
                    padding: 0;
                    font-size: small;
                }
                .left {
                    height: 100%;
                    width: 100%;
                    //*background: #f4f4f4;*/
                    position: relative;
                    float: left;
                    .details {
                        padding: 7px;
                        float: left;
                    }
                }
                .right {
                    width: 50%;
                    background: #a6cdde;
                    color: white;
                    float: right;
                    height: 200%;
                    overflow: hidden;
                    .details {
                        padding: 20px;
                        float: right;
                        width: calc(70% - 40px);
                    }
                    .done {
                        width: calc(30% - 2px);
                        float: left;
                        transition: transform 0.5s;
                        border-right: solid thin rgba(255, 255, 255, 0.3);
                        height: 50%;
                        i {
                            font-size: 30px;
                            padding: 30px;
                            color: white;
                        }
                    }
                    &:hover {
                        .remove, .done {
                            transform: translateY(-100%);
                        }
                    }
                }
            }
        }
        .inside {
            z-index: 9;
            background: #92879b;
            width: 110px;
            height: 110px;
            position: absolute;
            top: -70px;
            right: -70px;
            border-radius: 0px 0px 200px 200px;
            transition: all 0.5s, border-radius 2s, top 1s;
            overflow: hidden;
            .icon {
                position: absolute;
                right: 81px;
                top: 76px;
                color: white;
                opacity: 1;
            }
            &:hover {
                width: 100%;
                right: 0;
                top: 0;
                border-radius: 0;
                height: 80%;
                .icon {
                    opacity: 0;
                    right: 15px;
                    top: 15px;
                }
                .contents {
                    opacity: 1;
                    transform: scale(1);
                    transform: translateY(0);
                }
            }
            .contents {
                padding: 5%;
                opacity: 0;
                transform: scale(0.5);
                transform: translateY(-200%);
                transition: opacity 0.2s, transform 0.8s;
                table {
                    text-align: left;
                    width: 100%;
                }
                h1, p, table {
                    color: white;
                }
                p {
                    font-size: 13px;
                }
            }
        }
    }
}

//* modal */

.waifu-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    background-color: transparent;
    overflow: hidden;
    transition: background-color 0.25s ease;
    z-index: 9999;
    &.open {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.25s;
        > .content-wrapper {
            transform: scale(1);
        }
    }
    .content-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0;
        padding: 2.5rem;
        border-radius: 0.3125rem;
        box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
        z-index: 10000;
        transform: scale(0);
        transition: transform 0.25s;
        transition-delay: 0.15s;
        .close {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            background-color: transparent;
            font-size: 1.5rem;
            transition: 0.25s linear;
            &:before, &:after {
                position: absolute;
                content: '';
                width: 1.25rem;
                height: 0.125rem;
                background-color: black;
            }
            &:before {
                transform: rotate(-45deg);
            }
            &:after {
                transform: rotate(45deg);
            }
            &:hover {
                transform: rotate(360deg);
                &:before, &:after {
                    background-color: tomato;
                }
            }
        }
        .modal-header {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0 0 1.25rem;
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
        .content {
            position: relative;
            display: flex;
            flex-direction: column;
            p {
                font-size: 0.875rem;
                line-height: 1.75;
            }
        }
        .modal-footer {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin: 0;
            padding: 1.875rem 0 0;
            .action {
                position: relative;
                margin-left: 0.625rem;
                padding: 0.625rem 1.25rem;
                border: none;
                background-color: slategray;
                border-radius: 0.25rem;
                color: white;
                font-size: 0.87rem;
                font-weight: 300;
                overflow: hidden;
                z-index: 1;
                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.2);
                    transition: width 0.25s;
                    z-index: 0;
                }
                &:first-child {
                    background-color: #2ecc71;
                }
                &:last-child {
                    background-color: #e74c3c;
                }
                &:hover:before {
                    width: 100%;
                }
            }
        }
    }
}

//* Toggle */

.justContainer {
    .toggle {
        margin: 0 0 1.5rem;
        box-sizing: border-box;
        font-size: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        input {
            width: 0;
            height: 0;
            position: absolute;
            left: -9999px;
            + label {
                margin: 0;
                padding: .75rem 2rem;
                box-sizing: border-box;
                position: relative;
                display: inline-block;
                border: solid 1px $button-color;
                //background-color: #FFF;
                background-color: $color-l-container-secondary;
                font-size: 1rem;
                line-height: 140%;
                font-weight: 600;
                text-align: center;
                box-shadow: 0 0 0 rgba(255, 255, 255, 0);
                transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
                //* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
                //*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
                //* ----- */
                &:first-of-type {
                    border-radius: 6px 0 0 6px;
                    border-right: none;
                }
                &:last-of-type {
                    border-radius: 0 6px 6px 0;
                    border-left: none;
                }
            }
            &:hover + label {
                border-color: rgba($color-accent, 0.7);
            }
            &:checked + label {
                background-color: $button-bg-color;
                color: $button-color;
                box-shadow: 0 0 10px rgba($button-bg-color, 0.5);
                border-color: $color-accent;
                z-index: 1;
            }
            &:focus + label {
                outline: dotted 1px $font-base-color;
                outline-offset: .45rem;
            }
        }
    }
    .centered {
        width: 550px;
        height: 110px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .group {
        width: 100%;
        height: 110px;
        overflow: hidden;
        position: relative;
    }
    label {
        position: absolute;
        top: 36.6666666667px;
        font: 400 36.6666666667px Roboto;
        cursor: text;
        transition: .25s ease;
    }
    input {
        display: block;
        width: 100%;
        padding-top: 36.6666666667px;
        border: none;
        border-radius: 0;
        color: $font-base-color;
        background: rgba(0, 0, 0, 0);
        font-size: 36.6666666667px;
        transition: .3s ease;
        &:valid ~ label {
            top: 0;
            font: 700 22px Roboto;
        }
        &:focus {
            outline: none;
            ~ {
                label {
                    top: 0;
                    font: 700 22px Roboto;
                    color: $color-accent;
                }
                .bar:before {
                    transform: translateX(0);
                }
            }
        }
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px #333 inset;
            -webkit-text-fill-color: $font-base-color !important;
        }
    }
    .bar {
        background: rgba($color-accent, 0.5);
        content: '';
        width: 550px;
        height: 3.6666666667px;
        transition: .3s ease;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 150%;
            background: $button-bg-color;
            transform: translateX(-100%);
        }
    }
    ::selection {
        background: rgba($button-bg-color, 0.3);
    }
}

//* search input */

@media (max-width: 800px) {
    .justContainer .toggle input + label {
        padding: .75rem .25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//* Sort */
.sort {
    background-color: $button-bg-color;
    width: fit-content;
    padding: 0 20px;
}

.sort-holder {
    display: block;
}

.arrow-up, .arrow-down, .arrow-middle {
    display: inline-block;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid black;
}

.arrow-middle {
    width: 14px;
    height: 1px;
}

//* tabs */

.tabs-waifu {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    color: $font-base-color;
    .tabs-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        .tab{
            flex-grow: 1;
        }
    }
    .tabs-content {
        width: 100%;
    }
    [class^="tab"] label, [class*=" tab"] label {
        color: $font-base-color;
        cursor: pointer;
        display: block;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1em;
        padding: 2rem 0;
        text-align: center;
    }
    [class^="tab"] [type="radio"], [class*=" tab"] [type="radio"] {
        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    [class^="tab"] [type="radio"] {
        &:hover, &:focus {
            border-bottom: 1px solid $button-bg-color;
        }
    }
    [class*=" tab"] [type="radio"] {
        &:hover, &:focus {
            border-bottom: 1px solid $button-bg-color;
        }
    }
    [class^="tab"] [type="radio"]:checked, [class*=" tab"] [type="radio"]:checked {
        border-bottom: 2px solid $button-bg-color;
    }
    [class^="tab"] [type="radio"]:checked + div, [class*=" tab"] [type="radio"]:checked + div {
        opacity: 1;
    }
    [class^="tab"] [type="radio"] + div, [class*=" tab"] [type="radio"] + div {
        display: block;
        opacity: 0;
        padding: 2rem 0;
        width: 90%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .tab-2 {
        width: 50%;
        [type="radio"] {
            + div {
                width: 200%;
                margin-left: 200%;
            }
            &:checked + div {
                margin-left: 0;
            }
        }
        &:last-child [type="radio"] {
            + div {
                margin-left: 100%;
            }
            &:checked + div {
                margin-left: -100%;
            }
        }
    }
}
.waifu-tag-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  .waifu-tag {
    padding: 7px 10px;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 14px;
    border-radius: 5px;
    font-family: "Lato",sans-serif;
    border: solid 1px $button-color;
    //background-color: #FFF;
    background-color: $color-l-container-secondary;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    color: $input-color;
    &:not(:nth-of-type(1)){
      margin-left: 20px;
    }
    &:hover, &.active{
      background-color: $button-bg-color;
      color: $button-color;
      box-shadow: 0 0 10px rgba($button-bg-color, 0.5);
      border-color: $color-accent;
      z-index: 1;
    }

    &.active:hover {
      color: $font-base-color;
      background-color: $color-background;
    }
  }
}
